
<h2 style="color: pink;">2025-09-20 的Live活动</h2>

<div class="card">
  <h2>2025-09-20 - CAVE ART VENUE（长宁区凯旋路1388号IM长宁国际LG层LG-37）</h2>
  <p class="groups">团体: 液态像素_official, 青空日记Serenitas, 星屑物語HoshikuzuStory, 她蝶效应Psychelles, 神的爱恋诗_official, Kire_info, 第六页序_official, 收到请回答_EchoMonster_SH, MIRAKURU魔法转生少女_official, 伪存在nameless, 花与心事Affloret, 夜色特调Carol, SOLAMENTE_OFFICIAL, 无情小猪_official, _鲸鱼汽水_</p>
  <p>#天体望远镜[超话]#  天体望远镜 番外篇9.0「妖狐仙楽踏」情报解禁！本次番外篇的特别活动为@无情小猪_XwX 的生日sp🎂时间：2025.09.20（周六）11:00opan、11:30start地点：CAVE ART VENUE（长宁区凯旋路1388号IM长宁国际LG层LG-37）🎫：预售78、当日148秀动：网页链接参演团体（排序不分先后）@液态像素_official @青空日记Serenitas @星屑物語HoshikuzuStory @她蝶效应Psychelles @神的爱恋诗_official @Kire_info @第六页序_official @收到请回答_EchoMonster_SH @MIRAKURU魔法转生少女_official @伪存在nameless @花与心事Affloret @夜色特调Carol @SOLAMENTE_OFFICIAL @无情小猪_official @_鲸鱼汽水_ [组图共3张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q2I3iCvhv" target="_blank">🔗 原文链接</a></p>
</div>
