
<h2 style="color: pink;">2025-08-26 的Live活动</h2>

<div class="card">
  <h2>2025-08-26 - 上海市长宁区愚园路1398号鼎植B1-02 育音堂音乐公园</h2>
  <p class="groups">团体: 兔, 子, 酱, 、, 腻, 花, 、, 小, 芙, 、, 花, 音, 、, 小, 叉</p>
  <p>【演出情报】🐳LIVE IDOL LIFE SH42.0 in 育音堂音乐公园🥤<br>时间：2025年8月26日（火）<br>地点：上海市长宁区愚园路1398号鼎植B1-02 育音堂音乐公园<br>💃出席成员：兔子酱、腻花、小芙、花音、小叉<br>支援嘉宾：@夜色特调_星铃rinrin <br>📣本周为调酒主题周活动～<br>📍当日各团体调酒购买地址均在鲸鱼汽水VD<br>⏰购买时间：2025年8月25日（月）  21:00～<br>🎫购票详见评论⬇️<br>[组图共4张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q1ropcQXX" target="_blank">🔗 原文链接</a></p>
</div>
