
<h2 style="color: pink;">2025-10-05 的Live活动</h2>

<div class="card">
  <h2>2025-10-05 - 上海／万代南梦宫上海文化中心 梦想剧场</h2>
  <p class="groups">团体: @StarWinK, @StarLight_offical, @StarAxis, @Astoria_Official, @StarDiary_offical, @StarHoney_offical, @空色轨迹Official, @Karma-Official, @StarShips_official, @StarFairy_official, @StarCandy_official, @StarNight_Offical, @StarRise_official, @DOKISTAR_official, @StarPumpkin_official</p>
  <p>✨主催情报✨10🈷️5日 STARRY Fes2025 in 上海／万代南梦宫上海文化中心 梦想剧场<br><br>—————————-———————————————-<br><br>✨团体情报✨<br>【上海】@StarWinK @StarLight_offical @StarAxis @Astoria_Official新团准备中ing<br>【广州】@StarDiary_offical @StarHoney_offical @空色轨迹Official @Karma-Official 新团准备中ing<br>【重庆】@StarShips_official <br>【长沙】@StarFairy_official <br>【成都】@StarCandy_official @StarNight_Offical@StarRise_official<br>【北京】@DOKISTAR_official@StarPumpkin_official<br><br>—————————————————————————-<br><br>✨招募情报✨ 网页链接<br><br>[组图共10张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q238mmmwq" target="_blank">🔗 原文链接</a></p>
</div>
