
<h2 style="color: pink;">2025-10-06 的Live活动</h2>

<div class="card">
  <h2>2025-10-06 - 万代南梦宫上海文化中心</h2>
  <p class="groups">团体: Misology, ANNYX, 碎夜瑠璃LapisLazuli, 惑星VORTEX, 究極Ultimayosugala, Maison de Queen, Quubi, YOLOZ, 草野華余子, uijin, ジエメイ, Question.VI</p>
  <p>【转发抽7号vip门票一张❗】#UltimaFES #UltimaFES2025✝️ UltimaFES!2025 ✝️ 开催決定<br><br>主办：UltimaIdols, sakebi, Everblue<br><br>协力：WRDK<br><br>建設日程：2025 年10月6日（月）~10月8日（水）<br><br>Misology/ANNYX/碎夜瑠璃LapisLazuli/惑星VORTEX/究極Ultimayosugala/Maison de Queen/Quubi/YOLOZ/草野華余子/uijin/ジエメイ/Question.VI<br><br>——————<br><br>10月6日<br><br>▪️FUTURE STAGE:万代南梦宫上海文化中心 2F 未来剧场 OPEN 12:15　START 13:00<br><br>TICKET：ADVANCE 120元/DOOR 160元<br><br>＝＝＝＝＝＝<br><br>▪️SINGER STAGE: 新歌空间OPEN 18:00　START 18:30<br><br>TICKET：ADVANCE 120元/DOOR 160元<br><br>————————————<br><br>10月7日<br><br>▪️DREAM STAGE:万代南梦宫上海文化中心 B1 梦想剧场 OPEN 12:00　START 12:30<br><br>TICKET：🔺VIP券：400元(优先入场、含Ultimafes2025限定T恤一件)一般券：160元<br><br>————————————<br><br>10月8日<br><br>▪️FUTURE STAGE:万代南梦宫上海文化中心 2F 未来剧场 OPEN 12:15　START 13:00<br><br>TICKET：ADVANCE 120元/DOOR 160元<br><br>＝＝＝＝＝＝<br><br>▪️SINGER STAGE: 新歌空间OPEN 18:00　START 18:30<br><br>TICKET：ADVANCE 120元/DOOR 160元<br><br>[组图共7张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q1Cdomwlb" target="_blank">🔗 原文链接</a></p>
</div>
