
<h2 style="color: pink;">2025-09-13 的Live活动</h2>

<div class="card">
  <h2>2025-09-13 - 上海市黄浦区淮海中路138号上海广场1F</h2>
  <p class="groups">团体: </p>
  <p>【主催活动情报解禁】❗❗❗【转关赞】抽入场门票*3🌟Hoshikuzu Fes Vol.3 🌟紫月生日SP -月によって繋がりたい-📅日期：9月13日<br>⏰时间：OPEN 12:30｜START 13:00<br>💰门票：预售88元｜现场108元 (票务稍后)<br>🏤会场：上海市黄浦区淮海中路138号上海广场1F<br>聚一场💃🏻<br>出演嘉宾(首字母排序)：Anastasia / ANNYX / Astoria / BubbleLabo / 鲸鱼汽水 / Kire / LovePower / NEKOMIMI / Oyasumi / 青空日记Serenitas / 收到请回答EchoMonster / StarAxis / StarLight / 碎夜瑠璃LapisLazuli / TerrorSickle / 夜色特调 / 这里有只幽灵<br>[组图共2张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q19mqCBJ8" target="_blank">🔗 原文链接</a></p>
</div>
