
<h2 style="color: pink;">2025-08-27 的Live活动</h2>

<div class="card">
  <h2>2025-08-27 - Cave art venue上海市长宁区凯旋路1388号IM长宁国际LG层LG - 37</h2>
  <p class="groups">团体: S, T, A, R, L, I, N, K</p>
  <p>【演出情报】STARLINK 夏日定期公演4.0<br>■日期：2025年8月27日（水）<br>■会场：Cave art venue上海市长宁区凯旋路1388号IM长宁国际LG层LG - 37<br>■时间：OPEN: 18:45　START: 19:00<br>■门票：优先💰100/一般💰50（本场演出不设置当日票）<br>■票务：秀动🔍STARRY / 现场购买<br>■本场出演成员：Ririka、Kieru、Chai、Hana</p>
  <p><a href="https://weibo.cn/comment/Q1Kdm1aDy" target="_blank">🔗 原文链接</a></p>
</div>
