
<h2 style="color: pink;">2025-09-06 的Live活动</h2>

<div class="card">
  <h2>2025-09-06 - MAO LIVE HOUSE（中大二号馆）</h2>
  <p class="groups">团体: </p>
  <p>【重大発表】空色軌跡二周年ONE MAN LIVE「 軌跡を重ねて～」開催决定‼️<br><br>为庆祝两周年OM顺利，转➕关抽100件‼️‼️「 空色轨迹应援T恤」<br><br>*转抽破千追加100件‼️</p>
  <p><a href="https://weibo.cn/comment/Q2nLUinpu" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-09-06 - 上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场</h2>
  <p class="groups">团体: Anastasia_official, MIRAKURU魔法转生少女_official, JADX_official, 肉酱钻石NikuMondo, -PH0EN1X-, 这里有只幽灵humanless, 第六页序_official, VELOK_official, OISHII</p>
  <p>「Less is More」3.0 -「Deep Blue」💙🎂Rin泠子生日特别活动🎂时间：2025.09.06（周六）11:00open、11:15start<br>地点：上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场<br>预售：68.8/人+1d<br>当日：88/人+1d<br>🎫🔗稍后<br>参演团体（排名不分先后）@Anastasia_official @MIRAKURU魔法转生少女_official @JADX_official @肉酱钻石NikuMondo @-PH0EN1X- @这里有只幽灵humanless @第六页序_official @VELOK_official @OISHII</p>
  <p><a href="https://weibo.cn/comment/Q2I3RBfec" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-09-06 - 上海市淮海中路138号上海广场1楼聚一场</h2>
  <p class="groups">团体: </p>
  <p>【IDOL WAVE 偶像浪潮 06】🧱+🫙抽2张当日门票 9月5日 18:00开🗓13:00入场13:30开演📍活动地点:上海市淮海中路138号上海广场1楼聚一场票价预售票:58现场票:78  抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q2I1N7kXD" target="_blank">🔗 原文链接</a></p>
</div>
