
<h2 style="color: pink;">2025-08-21 的Live活动</h2>

<div class="card">
  <h2>2025-08-21 - 世界树剧场</h2>
  <p class="groups">团体: 恋音契约</p>
  <p>♬•*¨*•.¸¸♪✧•*¨*•.¸¸♪•*¨*•.¸¸♬       ところで、『好き』って一体何だろう？          ♬•*¨*•.¸¸♪✧•*¨*•.¸¸♪•*¨*•.¸¸♬      恋音契约三周年ONEMAN巡演 · 上海站              「 SILENTPAIN☆NOCTURNE 」                🎤｜世界树剧场                ⏳｜13:00 OPEN 13:30 START                🎫｜门票 68 / VIP礼包 230 ※需搭配门票购买 （VIP包含优先入场、特典，单成员旗袍造型五寸拍立得 ※数量有限，全员合影 ※演出前拍摄，巡演护照）                    🎁｜入场特典🈶       　（本场为随机成员撕拉片及限定贴纸）                             ♬⋆.˚ 𝄞⨾𓍢ִ໋ ♪⋆.            @加澜_aika     @阿漓_himeri             @法儿_fuwari @玉子_tamako_     @云云_moriko @阿白_omochi @羽音_hanon            ♬•*¨*•.¸¸♪✧•*¨*•.¸¸♪•*¨*•.¸¸♬   💖🫧 出发吧！寻找夏日回忆的魔法☀️🪄</p>
  <p><a href="https://weibo.cn/comment/Q0ScChq00" target="_blank">🔗 原文链接</a></p>
</div>
