
<h2 style="color: pink;">2025-10-02 的Live活动</h2>

<div class="card">
  <h2>2025-10-02 - 中国上海市普陀区宜昌路179号万代南梦宫上海文化中心DREAM STAGE:B1 梦想剧场，FUTURE STAGE:2F 未来剧场</h2>
  <p class="groups">团体: ア, ン, ス, リ, ュ, ー, ム, /, I, N, U, W, A, S, I, /, @, M, a, i, s, o, n, d, e, Q, u, e, e, n, 公, 式,  , /, M, a, ‘, S, c, a, r, ’, P, i, e, c, e, /, M, i, r, r, o, r, ,, M, i, r, r, o, r, /, N, E, O,  , J, A, P, O, N, I, S, M, /, Q, u, e, s, t, i, o, n, ., V, I, /, T, H, E,  , O, R, C, H, E, S, T, R, A,  , T, O, K, Y, O, /, z, a, n, k, a, /,  , a, n, d,  , m, o, r, e, ., ., .</p>
  <p>👑「IDOL KINGDOM SHANGHAI」 Vol.4👑<br>主办：EverBlue Entertainment<br>协办：@Ultimaidols_official , WRDK<br><br>建設日程：2025 年10月 2日（木）~10月 3日（金）<br><br>——————<br><br>GUEST：アンスリューム/INUWASI/@MaisondeQueen公式 /Ma‘Scar’Piece/Mirror,Mirror/NEO JAPONISM/Question.VI/THE ORCHESTRA TOKYO/zanka/ and more...<br><br>——————<br><br>TICKET：2DAY VIP TICKET 各STAGE 600元（优先入场、含会场限定T恤）<br>1DAY TICKET 各STAGE 200元<br><br>🔗：见评论<br><br>——————<br><br>转发+关注抽DREAM STAGE及FUTURE STAGE两日VIP票各1张<br><br>更多详情请关注后续活动发表…！<br><br>#IDOLKINGDOM#</p>
  <p><a href="https://weibo.cn/comment/Q0Hoh2njY" target="_blank">🔗 原文链接</a></p>
</div>
