
<h2 style="color: pink;">2025-08-24 的Live活动</h2>

<div class="card">
  <h2>2025-08-24 - 上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场</h2>
  <p class="groups">团体: </p>
  <p>YGG IDOL Fes -Rico生日sp-时间：2025.08.24（周日）开场时间：16:45开演时间：17:00地址：上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场票务信息：预售票：58元+1d（15元）当日票：78元+1d（15元）本场活动1d含饮料券大麦or公众号：亚华湖院线购票🔗在评论区[关+🧱]抽① 带签门头海报*1② 3张入场门票🎫（入场时需向检票人员出示中奖界面）欢迎大家前来观看演出👏#yggdrasil世界树剧场# 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q0KDLevpN" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-24 - 上海市闵行区七莘路平金中心B2-16 Press Start（12号线七莘路1号口）@PressStart多元文化展示中心</h2>
  <p class="groups">团体: 错序体_GlitchBorn, DS華麗歌劇団_公式, 天使疗养院AngelAsylum, 日落逃跑_sunset, yuuuu-憂, 灵梦之羽Haneru, 火山残响_VolcanoECHO, 轻触心弦FuwaFuwa, ReCODEofficial, BOOMCAT_OFFICIAL</p>
  <p>📣Pick Ace Idol Vol.21～岚岚生日SP📅日期：8月24日⏰开场：14:00🎫门票：¥68（仅现场）📍地点：上海市闵行区七莘路平金中心B2-16 Press Start（12号线七莘路1号口）@PressStart多元文化展示中心 本场开设指名票，请在购票时选择需要指名的团体。指名票仅供Pick Ace Idol品牌方收集数据使用，是否有指名福利请以各参演团体的官方微博为准，敬请理解。꒰ঌ─────演出团体─────໒꒱（排名不分先后）[关+转]抽3张入场门票🎫（入场时向检票人员出示中奖界面）#地下偶像##live演出情报##starlink偶像计划# 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q0GV0kNuX" target="_blank">🔗 原文链接</a></p>
</div>
