
<h2 style="color: pink;">2025-08-29 的Live活动</h2>

<div class="card">
  <h2>2025-08-29 - 上海市淮海中路138号上海广场1楼</h2>
  <p class="groups">团体: 绮丽偶像研修生, Sweet2Poison, 0n!Ine, Anastasia, 伪存在nameless, MetaMates次元少女</p>
  <p>8月29日 地址：上海市淮海中路138号上海广场1楼<br>聚一场票价：预售单人票：58 二人票：110 三人票：150 女性优惠票：8.8 学生优惠票：8.8<br>绮丽偶像日K.F.C. mini 115 七夕快乐<br>19.00-19.30检票入场<br>19.30-19.50绮丽偶像研修生<br>19.50-20.10 Sweet2Poison<br>20.10-20.30 0n!Ine<br>20.30-20.50 Anastasia<br>20.50-21.15伪存在nameless<br>21.15-21.40 MetaMates次元少女<br>票务：秀动 <br>绮丽偶像日#聚一场##绮丽偶像日##starlink偶像计划##地下偶像 ##女性优惠##学生优惠#<br>[组图共2张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q0TUivJTI" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-29 - 上海大世界1F中庭（黄浦区西藏南路1号）</h2>
  <p class="groups">团体: 霓虹信号NeconEyeys, 华乐神应纪Chupid, 花与心事Affloret, 肉酱钻石NikuMondo, 蛋黄πSizzleBubblelabo, PIKAPON, ReNus, 杨淳, omidolzoo, V17声优少女, ReadyGo（荧奈生日SP）, Re.Born, TerrorSickle, 心跳序曲Prologue, Real1ty, Nice to meet II（Guest：易嘉爱 黄彤扬 龚诗淇 周怡 陈佳莹 罗兰 倪小雅）, 郭馨钰</p>
  <p>【TrueWorld vol61.0 x 大世界新偶像嘉年华】💞 @大世界次元派 七夕特辑x水枪大战！演出信息&Timetable公开⏰<br>演出时间：2025.08.29（五）｜Open 15:00 & Start 15:30 （水枪环节前平行特典或前特典）🎫<br>vx🔍“上海大世界票务系统”小程序<br>VIP票（188）权益：观演入场资格+特典入场资格+前排站位+水枪*1+雨衣*1+浴巾*1+护目镜*1<br>普通票 （预售108当日148） 权益：观演入场资格+特典入场资格+雨衣*1+浴巾*1<br>特邀嘉宾 @郭馨钰__ 专属福利票（200）权益：VIP票所有权益+郭馨钰海报*1 <br>📍演出地址：上海大世界1F中庭（黄浦区西藏南路1号）<br>👤演出团体：（详见团体列表）<br>⚠️注意事项：水枪大战环节将在当日所有演出结束后进行（详见Timetable）；除部分票种会赠送水枪外观众仍可自带水枪，但请注意①自带水枪必须为符合玩具目的的水枪，水压不宜过大；②入场/离场时必须排空水枪内液体，场内将由场地方提供蓄水池，禁止装入其他液体。未尽事宜由现场工作人员负责解释。<br>🧱＋关抽两位入场～<br>[组图共4张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q0TTOwdur" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-29 - MAOLivehouse广州中大店 2号馆</h2>
  <p class="groups">团体: KURO_DIAMOND_official, Lulullaby-Official, MeFloar_Online, 绮幻人形KisMetis_official, Reunlock_official, 神推Trainee_official, UMINE_official, 物语碎片OFFICIAL</p>
  <p>#大麦8月22日中午12:00开票#！！8月29日！！🚀次元闪耀偶像音乐现场：七夕特别篇【#转发抽奖##现金抽奖# 】车专+关注+赞：//抽4位宝宝送入场券////抽2位宝宝送路补66//🎋特邀嘉宾💓（A-Z）@KURO_DIAMOND_official @Lulullaby-Official @MeFloar_Online @绮幻人形KisMetis_official @Reunlock_official@神推Trainee_official @UMINE_official @物语碎片OFFICIAL ⏰演出时间：2025年8月29日19:00♨️演出地点：@MAOLivehouse广州中大店 2号馆 🎟️#大麦#：   🔍“次元闪耀”（或见海报/评论区）👯♀️寻找组织：见评论区👗#StarRocketAsia##次元闪耀# 演出排期：【即将官宣】📆9月21日 广州【地偶】偶像团自主推荐通道：网页链接#地偶##地下偶像相关##地下偶像活动##地下偶像拼盘演出##starlink偶像计划##live演出情报##地下偶像# 广州·MAO Livehouse广州中大店(二号馆) 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q0TSK4mDW" target="_blank">🔗 原文链接</a></p>
</div>
