
<h2 style="color: pink;">2025-08-31 的Live活动</h2>

<div class="card">
  <h2>2025-08-31 - 上海市淮海中路138号上海广场1楼</h2>
  <p class="groups">团体: K.F.C. mini 116, 0n!Ine, Anastasia, 伪存在nameless, MIRAKURU魔法转生少女, MetaMates次元少女</p>
  <p>8月31日 地址：上海市淮海中路138号上海广场1楼聚一场女性跟学生持续优惠中～绮丽偶像日暑期结束14.00-14.30 检票入场14.30-14.50 0n!Ine14.50-15.10 Anastasia15.10-15.35伪存在nameless15.35-16.00 MIRAKURU魔法转生少女16.00-16.25 MetaMates次元少女票务 秀动 绮丽偶像日#聚一场##绮丽偶像日##地下偶像##starlink偶像计划##学生优惠##女性优惠#</p>
  <p><a href="https://weibo.cn/comment/Q1n3SAZAh" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-31 - 湖南省长沙市雨花区吉联MALL 1层MAO Livehouse</h2>
  <p class="groups">团体: H₂O戀, Candy Bubble, Fruits_水果篮子, StarFairy, 爆炸软糖, CandyBoom, iceSoda, Vanilla, 水母游戏, KuraGEi藍, DOLL信号灯, Colorful</p>
  <p>🧚 StarFairy Fes Vol.1～2025 🧚<br>❤️@卷卷Ruma-StarFairy 💖@七七Nanachi-StarFairy<br>生诞时间⏰：2025.8.31<br>OPEN：13:10<br>START：13:30<br>地点📍：湖南省长沙市雨花区吉联MALL 1层MAO Livehouse<br>演出团队：<br>H₂O戀<br>Candy Bubble<br>Fruits_水果篮子<br>StarFairy<br>爆炸软糖<br>CandyBoom<br>iceSoda<br>Vanilla<br>水母游戏<br>KuraGEi藍<br>DOLL信号灯<br>Colorful<br>▼🎟情报🔗见评论※<br>🎟️💰：预售 78 当日88<br>#StarFairy[超话]##starlink偶像计划#<br>抽奖详情  原图</p>
  <p><a href="https://weibo.cn/comment/Q1AOl43J7" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-31 - 上海市浦东新区九六广场下沉式广场舞台</h2>
  <p class="groups">团体: 彩, 虹, ,, 眠, ,, 小, 绫, ,, 略, 略, ,, N, o, r, i, ,, 鱼, 鱼</p>
  <p>☁️YUMETORI  活动详情☁️<br><br>星期日【现场偶像女团户外Live！】<br><br>🕰️演出时间：18：40-19：05<br><br>⏰终演特典：19：30-21：00<br><br>✨特典须知:<br>-每场特典前15-20分钟为团切时间（请提前与官博进行团切预约）结束后开始个人特典。<br>-整个特典结束的前15分钟截止队列。<br><br>原图</p>
  <p><a href="https://weibo.cn/comment/Q2390yBjI" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-31 - 上海市长宁区愚园路1250号3F（新歌空间）</h2>
  <p class="groups">团体: @Real1ty_Project, @ReNus_Official, @蛋黄派Sizzle, @PIKAPON-, @Re_Born_Official, @idolzoo_Official, @SOLAMENTE_OFFICIAL, @VELOK_official, @ReadyGo_Official</p>
  <p>【REALWORLD FES VOL 11.0】「男 装 限 定 主 题 公 演」Live演出信息&Timetable 公布！⏰<br>演出时间：2025.08.31（周日）｜Open 11:40 & Start 12:10<br>普通：48<br>摄影：68<br>SVIP：268（物贩演出优先入场+指定一团体Wide合影＋任选两位成员三寸合影）<br>‼️女性无料 / 男性女装无料‼️<br>*以上票价均含1D️<br>本届中高考生可凭准考证免费入场<br>票务稍后请上秀动<br>RealWorld👤<br>演出团体见上📍<br>演出地址见上🧱<br>+关抽一人188偶活基金<br>原图</p>
  <p><a href="https://weibo.cn/comment/Q238fzAQl" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-31 - 粤发live（喜邻里商业中心）</h2>
  <p class="groups">团体: LovePowerLoading（陕西）, 风铃星愿HIMAWARI, Purelee, NULL空值变数（上海）, ParaparaBlank, Poker, 午前4時, Lumina（!!🆕新团披露!!）, LovePower（陕西）, Shinkle_宙心, My-SoDa, 夜明之前（广西）, 放逐藍星, 无限共鸣Neobooster, Kopfkino-空想错觉, DigitalDuel, 永昼Eternal, 破碎梦境, 月匙Moon-Key</p>
  <p>👑【午场】PoP Star Idol Festival Vol.1 ~ Lumina Debut Live＆🐹【晚场】PoP Star Idol Festival Vol.1 ~ Kazuki『Boom!』生诞特别LIVE<br>📆2025/8/31(周日)<br>📍粤发live（喜邻里商业中心）<br>🎫两场通票 128<br>-------------------------------<br>👑【午场】PoP Star Idol Festival Vol.1 ~ Lumina Debut Live<br>⏰OPEN 11:00 / START 11:40<br>🎫普通票 68<br>🎫VIP票 208 （限量20）<br>【Lumina出道限定T恤/Lumina五寸团切/优先入场/🔮神秘抽奖？？】<br>【出演嘉宾】<br>LovePowerLoading（陕西）<br>风铃星愿HIMAWARI<br>Purelee<br>NULL空值变数（上海）<br>ParaparaBlank<br>Poker<br>午前4時<br>Lumina（!!🆕新团披露!!）<br>LovePower（陕西）<br>-------------------------------<br>🐹【晚场】PoP Star Idol Festival Vol.1 ~ Kazuki『Boom!』生诞特别LIVE<br>⏰OPEN 16:30 / START 17:00<br>🎫普通票 78<br>【出演嘉宾】<br>Shinkle_宙心<br>My-SoDa<br>夜明之前（广西）<br>放逐藍星<br>无限共鸣Neobooster<br>Kopfkino-空想错觉<br>DigitalDuel<br>永昼Eternal<br>破碎梦境<br>月匙Moon-Key<br>Kazuki生日SP<br>-------------------------------<br>转发+关注 抽通票*2<br>购票链接🔗网页链接<br>抽奖详情[查看全部图片/视频]</p>
  <p><a href="https://weibo.cn/comment/Q1X1fpeF6" target="_blank">🔗 原文链接</a></p>
</div>
