
<h2 style="color: pink;">2025-08-23 的Live活动</h2>

<div class="card">
  <h2>2025-08-23 - CAVE ART VENUE上海市长宁区新华路街道IMShanghai长宁国际南区</h2>
  <p class="groups">团体: </p>
  <p>【主催情报】MINI STARWINK Fes（女性限定）■日期：2025年8月23日（土）■会场：CAVE ART VENUE上海市长宁区新华路街道IMShanghai长宁国际南区■时间：OPEN: 11:45　START: 12:00■门票：無料转+关 抽1名偶活基金100元</p>
  <p><a href="https://weibo.cn/comment/Q0SmZyrYg" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-23 - CAVE ART VENUE</h2>
  <p class="groups">团体: Astoria, OISHII, STARAXIS, solamente, STARWINK, STARLIGHT</p>
  <p>【活动情报解禁‼️】Red Light～小慕生日SP～8／23（土） 📍CAVE ART VENUE⏰OP17:00 / ST17:30💃演出团体：Astoria/OISHII/STARAXIS/solamente/STARWINK/STARLIGHT‼🎫门票🎫‼一般票 ¥75当日票 ¥100‼🎫票务🎫‼秀动🔍STARRY  （今日上架）</p>
  <p><a href="https://weibo.cn/comment/Q0RR7wHYv" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-23 - 上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场</h2>
  <p class="groups">团体: </p>
  <p>YGG IDOL Fes -夏の終わり，恋の始まり-<br>时间：2025.08.23（周六）<br>开场时间：12:45<br>开演时间：13:00<br>地址：上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场<br>票务信息：<br>预售票：58元+1d（15元）<br>当日票：78元+1d（15元）<br>本场活动1d含饮料券<br>大麦or公众号：亚华湖院线购票🔗在评论区<br>[关+🧱]抽3张入场门票🎫（入场时需向检票人员出示中奖界面）<br>欢迎大家前来观看演出👏<br>#yggdrasil世界树剧场# 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q0PFrpntD" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-23 - 上海市长宁区愚园路1398号B1-02 育音堂音乐公园 Yuyintang Park</h2>
  <p class="groups">团体: </p>
  <p>【天鹅湖◆草薙奈奈暂休SP】🧱+🫙抽2张当日门票 8月22日 18：00开🗓8月23日 20:20入场📍场地名称：育音堂音乐公园 Yuyintang Park<br>场地地址：上海市长宁区愚园路1398号B1-02<br>票价预售票:128（含1D）🎫见🍎  <br>原图</p>
  <p><a href="https://weibo.cn/comment/Q0ILxEZWV" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-23 - 育音堂</h2>
  <p class="groups">团体: @VELOK_official, @CHURIKA_info, @電波TOXIC</p>
  <p>🔥「生ViCTory」x 松月kilo生诞SP  即将登场🔥        ——❄️NORTHの焰心绝不熄灭❄️——     「在冻土种火种的人          终将用沸腾的应援感染整个北纬31°14'」 @VELOK_official x @CHURIKA_info x @電波TOXIC 联袂呈现🏴8月23日⏰OPEN 16:30     START 17:00🎵育音堂 全员集结为最耀眼的红色火焰@松月Kilo_VELOK 点燃全年最烫的生日庆典！砖👍🏻揪4位宝宝free入场～8.22七点半开～＊🔗后续更新在评论区，敬请期待。#VELOK[超话]# 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q0GTE4GvN" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-23 - 九六广场</h2>
  <p class="groups">团体: </p>
  <p>8月23日——————————————九六广场——————————————8月24日——————————上海The BOXX城市乐园———伴随着夜市的喧闹，微风的轻拂来见面吧～在今年夏天的尾巴，一起聊聊盛夏中的趣事🎫请查看评论区🔗</p>
  <p><a href="https://weibo.cn/comment/Q0GTsjOSn" target="_blank">🔗 原文链接</a></p>
</div>
