
<h2 style="color: pink;">2025-08-24 的Live活动</h2>

<div class="card">
  <h2>2025-08-24 - 上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场</h2>
  <p class="groups">团体: </p>
  <p>YGG IDOL Fes -Rico生日sp-时间：2025.08.24（周日）<br>开场时间：16:45<br>开演时间：17:00<br>地址：上海市黄浦区南京东路800号第一百货C馆7楼世界树剧场<br>票务信息：<br>预售票：58元+1d（15元）<br>当日票：78元+1d（15元）<br>本场活动1d含饮料券<br>大麦or公众号：亚华湖院线购票🔗在评论区<br>[关+🧱]抽① 带签门头海报*1<br>② 3张入场门票🎫（入场时需向检票人员出示中奖界面）<br>欢迎大家前来观看演出👏<br>#yggdrasil世界树剧场#<br>抽奖详情<br>[组图共2张]<br>原图</p>
  <p><a href="https://weibo.cn/comment/Q0KDLevpN" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-24 - 上海市闵行区七莘路平金中心B2-16 Press Start（12号线七莘路1号口）@PressStart多元文化展示中心</h2>
  <p class="groups">团体: 错序体_GlitchBorn, DS華麗歌劇団_公式, 天使疗养院AngelAsylum, 日落逃跑_sunset, yuuuu-憂, 灵梦之羽Haneru, 火山残响_VolcanoECHO, 轻触心弦FuwaFuwa, ReCODEofficial, BOOMCAT_OFFICIAL</p>
  <p>📣Pick Ace Idol Vol.21～岚岚生日SP📅日期：8月24日⏰开场：14:00🎫门票：¥68（仅现场）📍地点：上海市闵行区七莘路平金中心B2-16 Press Start（12号线七莘路1号口）@PressStart多元文化展示中心<br><br>本场开设指名票，请在购票时选择需要指名的团体。指名票仅供Pick Ace Idol品牌方收集数据使用，是否有指名福利请以各参演团体的官方微博为准，敬请理解。<br><br>꒰ঌ─────演出团体─────໒꒱（排名不分先后）<br><br>[关+转]抽3张入场门票🎫（入场时向检票人员出示中奖界面）<br><br>#地下偶像##live演出情报##starlink偶像计划#<br><br>抽奖详情<br><br>[组图共3张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q0GV0kNuX" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-24 - 广州 MAO LIVE HOUSE 中大二号馆</h2>
  <p class="groups">团体: StarHoney, 午前4时, StarFairy, 獸獸大作戰, 躲猫猫PEEKABOO, 揽月Selene, StarNight, StarCandy, 心动AfterSchool, idolzoo, StarShips, StarDiary, 碎夜瑠璃LapisLazuli, ANNYX, DigitalDuel, Karma, HelluTa, ±Zero, PON!, 空色轨迹</p>
  <p>～STARRY FES～王道系➕摇滚系一日狂欢🕧2025.08.24💰128r📍广州 MAO LIVE HOUSE 中大二号馆🎫秀动<br>------------------------------<br>『王道系』<br>OPEN11:30  START12:00<br>1200-1220 StarHoney(无特典)<br>1220-1240 午前4时（平特）<br>1240-1300 StarFairy(平特)<br>1300-1320 獸獸大作戰（平特）<br>1320-1340 躲猫猫PEEKABOO（平特）<br>1340-1400 揽月Selene<br>1400-1420 StarNight(平特)<br>1420-1440 StarCandy<br>1440-1500 心动AfterSchool<br>1500-1520 idolzoo<br>1520-1540 StarShips<br>1540-1600 StarDiary<br>1600-1800 终演后物贩<br><br>-------------------------------<br>『摇滚系』<br>OPEN18:00 START18:30<br>1800-1855 碎夜瑠璃LapisLazuli（平特）<br>1855-1920 ANNYX（平特）<br>1920-1940 DigitalDuel<br>1940-2000 Karma<br>2000-2020 HelluTa（平特）<br>2020-2040 ±Zero<br>2040-2100 PON!<br>2100-2125 空色轨迹<br>2140-2300 终演后物贩<br><br>-------------------------------<br>转➕关 抽两张门票 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q12yjuhrs" target="_blank">🔗 原文链接</a></p>
</div>
