
<h2 style="color: pink;">2025-08-30 的Live活动</h2>

<div class="card">
  <h2>2025-08-30 - 上海•育音堂音乐公园店</h2>
  <p class="groups">团体: @ChuPid_Official, @这里有只幽灵humanless, @TerrorSickle_offical, @VELOK_official, @夢花火YUMEHANABI, @MIRAKURU魔法转生少女_official, @CHURIKA_info, @采梦YUMETORI, @杨淳om, @未定乐队</p>
  <p>✨️万化冥合✨️<br>┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈<br>縦横無烬 ～祭祭本桥生诞Special～<br>┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈<br>⏰️｜2025.08.30 16:00<br>📍｜上海•育音堂音乐公园店<br>🎫｜普票138、三人388、VIP198（均含1D）<br>VIP含优先入场+物贩<br>票务稍后更新～🔃<br>+关抽两张入场+一个138偶活💰<br>原图</p>
  <p><a href="https://weibo.cn/comment/Q1cc1iINn" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-30 - 上海市淮海中路138号上海广场1楼聚一场</h2>
  <p class="groups">团体: YamiKami, 仮想天国KasouPara, 班味去除计划, Sweet2Poison, 灵梦之羽Haneru, READYGO, Oubaitori, 砂時計Sunadokē, Heroi'sΣ</p>
  <p>【Reboot live上海02】今天也是七夕@聚一场 ⏰ LIVE时间14:00 - 18:00🎫 预售票68、当日票88，网页链接⭐参演阵容（不分先后）：以及森里毕业SP，祝@森里-班味去除计划 毕业快乐！🧱抽3位当日入场+1位77元七夕奖金，8.28开 抽奖详情</p>
  <p><a href="https://weibo.cn/comment/Q19mjokZC" target="_blank">🔗 原文链接</a></p>
</div>

<div class="card">
  <h2>2025-08-30 - 上海VAS ear （普陀区万航渡路19号3F）</h2>
  <p class="groups">团体: 0n!ine, 华乐神应纪, 蛋黄π, SizzleTerrorSickle, 收到请回答, 花与心事Affloret, Re.Born, Solamente, MIRUGUMI, 電波TOXIC, 夜色特调, Real1ty, idolzoo, PIKAPON, ReNus, Nice to meet II</p>
  <p>【TrueWorld vol62.0】🎂潼潼生日SP & 水曜生日SP🎂演出信息&Timetable公开⏰<br>演出时间：2025.08.30（六）｜Open 09:45 & Start 10:00🎫<br>秀动🔍Trueworld<br>预售（138）当日（168）📍<br>演出地址：上海VAS ear （普陀区万航渡路19号3F）👤<br>演出团体：0n!ine华乐神应纪蛋黄πSizzleTerrorSickle收到请回答花与心事AffloretRe.BornSolamenteMIRUGUMI電波TOXIC夜色特调Real1tyidolzooPIKAPONReNusNice to meet II🧱<br>＋关抽两位入场～<br>#Starlink偶像计划# 抽奖详情<br>[组图共2张]  原图</p>
  <p><a href="https://weibo.cn/comment/Q1OqkpmfM" target="_blank">🔗 原文链接</a></p>
</div>
